h2 You entered the following data
.check
  .data.six.columns
    span.iterm Age: 
    span.age-check
  .data.six.columns
    span.iterm Sex: 
    span.sex-check
  .data.six.columns
    span.iterm Height: 
    span.height-check
  .data.six.columns
    span.iterm Weight: 
    span.weight-check
  .data.six.columns
    span.iterm Your Email: 
    span.email-check
  .data.six.columns
    span.iterm Password: 
    span.password-check
  p.terms
    | All fields are required. By clicking, you are agreeing to the
    a(href='#') Terms and Conditions
    | and
    a(href='#') Privacy Policy
.action
  button.cToBasic.round.button Back to change my data
  button.cToPick.round.button Confirm and continue