<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>webcam</title>
  
  <link rel="stylesheet" type="text/css" href="css/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="css/webcam.css">
  
  <script src="js/vendor/jquery-1.8.0.min.js"></script>
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>


<script type='text/javascript'>
    window.addEventListener('load', function() {

        var   
        //DOM element
        video = document.querySelector('video'),
        canvas = document.getElementById('result'),
        ctx = canvas.getContext('2d'),
    
        //tag
        num = 1,
        isPicked,

        //cash data
        imgData = {},
        formData = null,
        localMediaStream = null;

        function onFailSoHard(e) {
            console.log('Reeeejected!', e);
            alert('call camera failed!');
        }
        function callCam () {
            navigator.webkitGetUserMedia({video: true}, function(stream) {
                video.src = window.webkitURL.createObjectURL(stream); 
                localMediaStream = stream;    
            },onFailSoHard);
        }  
        function closeCam() {
          localMediaStream.stop();
        }          
        function snapshot() {
           // set the canvas to the dimensions of the video
            if (localMediaStream) {
                isPicked = true;
                canvas.width = video.clientWidth;
                canvas.height = video.clientHeight;             
                ctx.drawImage(video, 0, 0);
            }
           // don't think this stuff is necessary and it's throwing an error
           //document.getElementById("huhu").src = canvas.toDataURL('image/webp');
        }
        function getImage(data) {
            var img = new Image();
            img.src = data;
            $(img).appendTo('.collect');
        }
        function getFormData() {
            var sexValue,
                age = $('#age'),sex = $('.basicInfo form .checkbox'),
                weight = $('#weight'),height = $('#height'),
                email = $('#email'), password = $('#password');

            $.each(sex,function(i) {
              if (sex[i].checked) {
                  sexValue = sex[i].value;
              }
            })    
                
            formData = {
              age:      age.val(),
              sex:      sexValue,
              weight:   weight.val(),
              height:   height.val(),
              email:    email.val(),
              password: password.val(),
            };  
            $.post("/userInfo",formData);
        }
        function fillFormData() {
            var $age = $('.age-check'),$sex = $('.sex-check'),
                $weight = $('.weight-check'),$height = $('.height-check'),
                $email = $('.email-check'),$password = $('.password-check');

            if (formData === null) {
                getFormData();
            }

            $age.text(formData.age);
            $sex.text(formData.sex);
            $weight.text(formData.weight);
            $height.text(formData.height);
            $email.text(formData.email);
            $password.text(formData.password);    
        }
        function setCounter() {
            var timer,
                num = 5,
                $counter = $('#counter');

            function count() {
              num -=1;
              $counter.empty().text(num);
              if (num === 0) {
                snapshot();
                clearTimeout(timer);
                $counter.fadeOut();
              }
            }

            $counter.text(num).css({display:"block"});
            timer = setInterval(count,1000);  
        }
        function saveImage(num) {
            var url = canvas.toDataURL('image/png');
            imgData["img-"+num] = url;
            getImage(url);
        }
        function clearSnapshot() {
            ctx.clearRect(0,0,canvas.width,canvas.height);
        } 
        function upload(data,name) {
            var b64 = data; 
            $.post('/upload',{data:b64,name:name},function(data) {
                $('.log').append($('<div>').text(data));               
            });

        }

        //here comes jQuery button event
        $('.wToBasic').on('click',function() {
            $('.welcome').fadeOut();
            $('.basicInfo').fadeIn();
            return false;
        });
        $('.bToConform').on('click',function() {
            $('.basicInfo').fadeOut();

            getFormData();
            fillFormData();

            $('.conformation').fadeIn();

            return false;
        });
        $('.cToBasic').on('click',function() {
            $('.conformation').fadeOut();
            $('.basicInfo').fadeIn();
        });
        $('.cToPick').on('click',function() {
            $('.conformation').fadeOut();
            $('#snapshot').css({display:'inline-block'});

            //tips
            $('.tips').css({display: 'block'});
            $('.tips .tip-1').css({display:'block'});
            $('.tips').fadeIn();

            //mask
            $('#mask').removeClass().addClass('mask-one mask');

            $('.pickup').fadeIn();

            setTimeout(callCam,800);
        });

        //pickup botton
        $('#snapshot').on('click',function() {
            setCounter();
            if (num == 3) {                   
                $('#finish').add('#rePick').fadeIn();
                $('#snapshot').css({display:'none'});
                return
            }
            $('#snapshot').css({display:'none'});
            $('#nextStep').add('#rePick').fadeIn();
        });
        $('#nextStep').on('click',function() {
            var str;
            if (isPicked === true) {
                saveImage(num);
                num += 1;
                clearSnapshot();
                isPicked = false;

                //mask
                $('#mask').removeClass().addClass('mask mask-'+num);

                //tips
                str = '.tip-'+num;
                $('.tips p').css({display:'none'});
                $(str).fadeIn();
                console.log(str);
                console.log($(str));

                $('#snapshot').fadeIn();
                $('#nextStep').add('#rePick').css({display:'none'});

                
            } else {
                alert('please finish step ' + num + ' first!');
            }            
        });
        $('#rePick').on('click',function(){
            clearSnapshot();
            $('#snapshot').fadeIn();
            $('#nextStep').add('#rePick').css({display:'none'});
        });
        $('#finish').on('click',function() {
            if( isPicked === true) {
                saveImage(num);
                closeCam();
                clearSnapshot();
                $('#snapshot').add('#rePick').add('#finish').add('.tips').css({display:'none'});
                $('#upload').fadeIn();

                $('.congratulation').css({display:'block'}).appendTo('#mask');
            } else {
                alert('please finish step 3 first!');
            }
        });
        $('#upload').on('click',function(){
            $.each(imgData,function(i,v) {
                upload(v,i);
            });
            $('#upload').css({display:'none'});      
            $('#shop').fadeIn();
            
        });
    });  

</script>
</head>
<body>
    <div class="container">
        <span class="logo">webcam</span>
        <div class="login">login</div>
        <section class="welcome">
            <div class="control">
                <h2>Welcome to WebCam measurement service</h2>
                <span class="wToBasic">start</span>
            </div>
            <div class="feature">
                <ul>
                    <li>Find out exactly how clothes will fit.</li>
                    <li>Buy gifts for friends and family.</li>
                    <li>Order tailor made clothing.</li>
                </ul>
            </div>
        </section>
        <section class="basicInfo">
            <form action="/account/setup" method="post" name="basicInfo">
                <h2>Your perfect fit starts here</h2>
                <p>To help us with the measurement process we need to know some basic information.</p>
                <div class="info">
                    <div class="input six columns">
                        <label for="age" class="">Age:</label>
                        <input id="age" class="text" type="text" value="" name="age">
                        years 
                        <div class="error">Please enter your age</div>
                    </div>
                    <div class="input six columns">
                        <label>Sex:</label>
                        <input id="w" class="checkbox" type="radio" value="Female" name="gender">
                        <label class="short" for="w">Female</label>
                        <input id="m" class="checkbox" type="radio" value="Male" name="gender">
                        <label class="short" for="m">Male</label>
                        <div class="error">Please enter your gender</div>
                    </div>
                    <div class="input six columns">
                        <label for="height">Heigth:</label>
                        <input id="height" class="text" type="text" value="" name="height">
                        cm 
                        <div class="error">Please enter your height</div>
                    </div>
                    <div class="input six columns">
                        <label for="weight">Weight:</label>
                        <input id="weight" class="text" type="text" value="" name="weight">
                        kg 
                        <div class="error">Please enter your weight</div>
                    </div>
                </div>
                <div class="account">
                    <p>Please, enter your email and create a password to save your personal measurements with WebCam.</p>
                    <div class="input six columns">
                        <label for="email">Your Email:</label>
                        <input id="email" class="text long" type="text" name="email">
                        <div class="error">Please enter your Email</div>
                    </div>
                    <div class="input six columns">
                        <label for="password">Password:</label>
                        <input id="password" class="text long" type="password" name="password">
                        <div class="error">Please enter your password</div>
                    </div>
                    <p class="terms"> All fields are required. By clicking, you are agreeing to the <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></p>                                   
                </div>
                <div class="action">
                  <button class="bToConform button round">Continue</button>
                </div>
            </form>
        </section>
        <section class="conformation">
            <h2>You entered the following data</h2>
            <div class="check">
                <div class="data six columns">
                    <span class="iterm">Age: </span> <span class="age-check"></span>
                </div>
                <div class="data six columns">
                    <span class="iterm">Sex: </span> <span class="sex-check"></span>
                </div>
                <div class="data six columns">
                    <span class="iterm">Height: </span> <span class="height-check"></span>
                </div>
                <div class="data six columns">
                    <span class="iterm">Weight: </span> <span class="weight-check"></span>
                </div>
                <div class="data six columns">
                    <span class="iterm">Your Email: </span> <span class="email-check"></span>
                </div>
                <div class="data six columns">
                    <span class="iterm">Password: </span> <span class="password-check"></span>
                </div>

                <p class="terms"> All fields are required. By clicking, you are agreeing to the <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></p>
            </div>
             
            <div class="action">
              <button class="cToBasic round button">Back to change my data</button>
              <button class="cToPick round button">Confirm and continue</button>
            </div>
        </section>
        <section class="pickup">
             <video id="camera" class="camera" autoplay></video>
             <canvas id="result" class="result" ></canvas>
             <div id="mask" class="mask"></div>
             <div id="counter" class="counter">10</div>  
             <div class="action">
                <button id="snapshot" class="round button" >Take snapshot</button> 
                <button id="nextStep" class="round button">Next</button>
                <button id="finish" class="round button">finish</button>
                <button id="rePick" class="round button">Retry</button>
                <button id="upload" class="round button">upload</button>
                <button id="shop" class="round button">go to shop</button>                
             </div>  
        <section class="tips">
            <h3>Tips</h3>
            <p class="tip-1">some tips some tips some tips some tips some tips some tips some tips some tips some tips some tips some tips some tips some tips...</p>
            <p class="tip-2">some tip two some tip two some tip two some tip two some tip two some tip twosome tip two some tip two some tip two some tip two some tip two some tip two some tip two.....</p>
            <p class="tip-3">some tip three some tip three </p>
        </section>
        <div class="inline congratulation">
            <h2>Congratulation!</h2>
            <div class="collect"></div>
            <div class="log"></div>
        </div>
    </div>
    

</body>
</html>
  
