h3 Tips
    p.tip-1
      | some tips some tips some tips some tips some tips some tips some tips some tips some tips some tips some tips some tips some tips...
    p.tip-2
      | some tip two some tip two some tip two some tip two some tip two some tip twosome tip two some tip two some tip two some tip two some tip two some tip two some tip two.....
    p.tip-3 some tip three some tip three 
  .inline.congratulation
    h2 Congratulation!
    .collect